@import "colors";

.brands-block {

  max-width: 1240px;
  padding: 0 20px;
  margin: auto;

  .title {
    margin: 64px 0 47px 0;
    font-weight: 600;
    font-size: 29px;
    line-height: 116px;
    color: $main-dark-blue;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-gap: 1rem;
    justify-content: space-around;
    margin-bottom: 64px;
  }

  .item {
    width: 282px;
    margin-bottom: 20px;
    border-left: 1px solid $grey-30;
    list-style: none;
  }

  .logo {
    height: 48px;
    margin-left: 16px;
    display: flex;
    align-items: center;
  }

  .about {
    margin-left: 16px;
    font-size: 14px;
    line-height: 158%;
    color: $black-70;
  }
}

@media screen and (max-width: 768px) {
  .brands-block {
    .title {
      display: none;
    }

    .list {
      margin: 54px 0 0 16px;
    }

    .logo {
      height: 32px;
      margin: 0 0 16px 16px;
    }

    .about {
      margin-left: 16px;
      font-size: 14px;
      line-height: 158%;
      color: $black-70;
    }
  }

}
