$main-dark-blue: #003154;
$black-70: #404040;
$black-80: #1e1e1e;
$grey: #8F9090;
$white: #ffffff;
$light-blue: #F2F6FB;
$grey-20: #eaeaea;
$grey-30: #f3f3f3;
$grey-5: #F7F7F8;
$second-blue: #60C0C3;
$grey-blue-5: #F7F7F8;
$black-60: #888888;
$black: #000103;
$dark-blue-9: #174463;
$main-grey: #d0d0d0;
