@import "colors";
@import "header";
@import "prices";
@import "production";
@import "statistics";
@import "quality";
@import "links";
@import "news";
@import "catalog";
@import "brands";
@import "footer";
@import "slider";


@font-face {
  font-family: 'Golos';
  src: url("../fonts/Golos-Text_Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Golos';
  src: url("../fonts/Golos-Text_Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Golos';
  src: url("../fonts/Golos-Text_DemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Golos';
  src: url("../fonts/Golos-Text_Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Golos';
  src: url("../fonts/Golos-Text_Black.ttf") format('truetype');
  font-weight: 900;
}

* {
  font-family: 'Golos', serif;
  line-height: 158%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



